* {
    box-sizing: border-box;
}

html {
    font-family: airbnb-regular, sans-serif;
    color: #222222;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1rem;
    max-width: 60ch;
}

a { 
    color: #222222;
    text-decoration: none;
}

