.home-page {
   
    .main-hero {
        background-image: url(~@/assets/images/hero/wp2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
        text-align: center;
        background-position: center center;
        margin-bottom: 96px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    
 
        h1 {
            color: #FFF;
            font-size: 32px;
            text-shadow: 1px 1px 2px #000000;
        
        
        }

        button {
            margin-bottom: 150px;
            -webkit-tap-highlight-color: transparent !important;
            width: fit-content;
            background: white;
            border-radius: 1000px;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
            border:none;
            h3 {
                margin: 0;
                padding: 16px 32px;
                font-size: 18px;
                font-family: inherit;
                background: -webkit-linear-gradient((90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .host-container {
        background-image: url(~@/assets/images/host/10.png);
        // background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 90vh;
        width: 100%;


        .host {   
            margin-left: 80px; 
            margin-top: 50px;        
            h1 {
                color: #FFF;
                font-size: 48px;
                margin: 0;
                margin-top: 142px;
            }
            button {  
                margin-top: 50px;  
                justify-self: flex-end;
                font-family: inherit;          
                border:none;
                color: #222222;
                background-color: white;
                padding: 14px 24px;
                border-radius: 8px;
                max-width: 170px;
                &:hover {
                    background-color: rgb(235, 235, 235);
 
                 }

                h3 {
                    margin: 0;
                    font-family: inherit;
                }
            }
        }
    }
}

.dest-container,.toprated-container {
    margin-bottom: 95px;
}
.dest-header {
    font-size: 33px;
    margin-bottom: 48px;
    margin-top: 0;
}

.dest-gallery, .top-rated-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    
    a {
        display: inline-block;
        text-decoration: none;
        color: #222222;
        
        img {
            border-radius: 13px;
            object-fit: cover;
            aspect-ratio: 1/1;
        }
    }
}

@media (max-width: $break-narrow) {
    .home-page .main-hero h1 {
        font-size: 28px;
    }
    .toprated-container,.dest-container {
        position: relative;
        overflow-x: scroll;
        margin: 10px;
    }

    .home-page .main-hero {
        height: 650px;
    }
    .dest-header,.tr-header {
        font-size: 25px;
        margin-bottom: 32px;
        margin-left: 10px;
    }
    
    .dest-gallery, .top-rated-gallery {
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: 1fr;
        grid-auto-flow: column;
        gap: 25px;

}

}

