.order-modal {
    .material-icons-outlined.star {
        color: $redAirbnb;
    }
    margin-top: 48px;
    // margin-left: 80px;
    // width: 380px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    .guests-input {
        position: relative;
    }
    .expand-btn {
        color: rgb(34, 34, 34);
        padding-right: 12px;
        width: fit-content;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        .flip {
            transform: scaleY(-1);
        }
    }
    input {
        border: none;
        box-shadow: none !important;
        font-family: inherit;
        background-color: transparent;
        width: 100%;
        &:focus-visible {
            outline: none;
        }
        &::placeholder {
            font-size: 14px;
            color: rgb(113, 113, 113);
            font-weight: 400;
        }
    }
    label {
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .reserve-btn {
        // background-image: linear-gradient(90deg, #e61e4d 0, #e31c5f 50%, #d70466);
        background-color: $redAirbnb;
        border: none;
        color: white;
        text-align: center;
        letter-spacing: 0.05rem;
        width: 100%;
        height: 48px;
        min-width: 200px;
        font-family: inherit;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        //   --mouse-x: 53.625;
        //   --mouse-y: 66.6667;
        transition: opacity 1.25s ease 0s !important;
        // background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
        // background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
        // &:hover {
        //     opacity: 1;
        // }
    }
    .input-container {
        display: flex;
        flex-direction: column;
        &:nth-child(2) {
            margin-bottom: 15px;
        }
        label,
        input {
            display: block;
            // margin-left: 10px;
        }
        border: 1px solid rgb(176, 176, 176);
        padding: 10px 12px;
        border-radius: 0px 0px 13px 13px;
        width: 100%;
    }
    .dates-container {
        .checkout {
            border: 1px solid rgb(176, 176, 176);
            border-bottom-color: hsla(0, 0%, 100%, 0);
            border-top-right-radius: 13px;
            padding: 10px 12px;
        }
        .checkin {
            border: 1px solid rgb(176, 176, 176);
            border-bottom-color: hsla(0, 0%, 100%, 0);
            border-right-color: hsla(0, 0%, 100%, 0);
            border-top-left-radius: 13px;
            padding: 10px 12px;
        }
    }
    .pricing {
        width: 100%;
        p {
            width: 100%;
            text-align: center;
            &:not(:first-child) {
                display: flex;
                justify-content: space-between;
            }
            &:first-of-type {
                font-size: 14px;
                margin-top: 16px
            }
            &:last-child {
                font-weight: 600;
                padding-top: 16px;
                margin-top: 8px;
                border-top: 1px solid rgb(221, 221, 221) !important
            }
        }
    }
    .guests-modal {
        display: flex;
        position: absolute;
        line-height: 20px;
        bottom: -125px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: rgb(0 0 0 / 18%) 0px 2px 4px;
        z-index: 2000;
        padding: 20px;
        .guest-btns {
            display: flex;
            .guests-num {
                display: inline-block;
                min-width: 20px;
                text-align: center;
            }
            button {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                flex-grow: 0;
                flex-shrink: 0;
                cursor: pointer;
                color: rgb(113, 113, 113);
                border: 1px solid rgb(176, 176, 176);
                background-color: rgb(255, 255, 255);
                text-align: center;
                font-size: 16px !important;
                margin: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    border-color: rgb(34, 34, 34);
                    color: rgb(34, 34, 34);
                }
            }
        }
    }
}

.mini-modal-container {
    width: 100%;
}

.order-form-header {
    width: 100%;
    margin-bottom: 24px;
}

.star-preview {
    span {
        font-size: 1.25rem;
        text-decoration: none;
    }
}

.order-modal.miniModal {
    transition: 0.01ms ease-out;
    display: grid;
    @include for-wide-layout {
        @include layoutGTC($break-wide)
    }
    >* {
        grid-column: 2;
    }
    border: none;
    border-radius: 0;
    position: fixed;
    // flex-direction: row;
    top: 0px;
    width: 100%;
    height: 80px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    .mini-modal-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .pricing,
    .order-form {
        display: none;
    }
    .order-form-header {
        flex-basis: 20%;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .details-mini-nav {
        display: flex;
        flex-basis: 100%;
        a {
            margin-inline-end: 24px;
            display: flex;
            align-items: center;
            height: 80px;
            vertical-align: middle;
            &:hover {
                box-shadow: inset 0 -28px 0px -24px black;
            }
        }
    }
    .reviews-preview,
    .material-icons-outlined {
        font-size: 12px;
    }
    .reserve-btn {
        width: 180px;
    }
    .mini-total::after {
        content: ' reviews'
    }
}

.trackable {
    border:0;
	min-height:4rem;
	padding: 0.75rem 1.5rem;
	border-radius: 2rem;
	color:white;
	font-weight: bold;
	font-size:1.25rem;
	background-image: radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% );
	transition: opacity 1.25s ease 0s !important;
	min-width: 200px;
    background-size: 200% 200%;
	background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
}