@font-face {
    font-family: airbnb-regular;
    src: url(~@/assets/fonts/Airbnb_Cereal-Book.woff2);
}

@font-face {
    font-family:  airbnb-medium;
    src: url(~@/assets/fonts/Airbnb_Cereal-Medium.woff2);
}

@font-face {
    font-family:  airbnb-bold;
    src: url(~@/assets/fonts/Airbnb_Cereal-Bold.woff2);
}

@font-face {
    font-family: fa;
    src: url(~@/assets/vendor/fontawesome/webfonts/fa-regular-400.ttf);
}

@font-face {
    font-family: fas;
    src: url(~@/assets/vendor/fontawesome/webfonts/fa-solid-900.ttf);
}

@font-face {
    font-family: fab;
    src: url(~@/assets/vendor/fontawesome/webfonts/fa-brands-400.ttf)
}
